body {
  margin: 0;
  background-color: #211f1f;
  color: #ffffff;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
}

img {
  border-style: none;
}

svg {
  fill: #434343;
  width: 1.6rem;
  height: 1.6rem;
  padding: 10px;
}

#deeplink-container {
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
}

#deeplink-subtitle {
  margin-top: 3px;
  font-size: 0.8em;
  color: #aaaaaa;
}

#deeplink-source {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
}

#app-icon {
  border-radius: 10px;
  margin: 8px;
  width: 72px;
}

@media (min-width: 481px) {
  #deeplink-container {
    width: 50%;
  }
}

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  #deeplink-container {
    margin-top: 10%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #deeplink-container {
    width: 80%;
  }
}